
@font-face {
	font-family: 'ubuntu';
	src: url('../../theme/font/ubuntu/ubuntu-r-webfont.ttf');
	font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'ubuntu';
	src: url('../../theme/font/ubuntu/ubuntu-b-webfont.ttf');
	font-weight: bold;
    font-style: normal;
}
/*
@font-face {
	font-family: 'ubuntu';
	src: url('../../theme/font/ubuntu/ubuntu-ri-webfont.ttf');
	font-weight: normal;
    font-style: italic;
}
*/
@font-face {
	font-family: 'flavors';
	src: url('../../theme/font/flavors/flavors-regular-webfont.ttf');
	font-weight: normal;
    font-style: normal;
}

html {
	font-size: 62.5%;
	text-align: left;
	margin: 0px auto;
	padding: 0px;
/*	background-color: #FCF5BB;*/
	background-color: rgb(249, 255, 171);
    overflow-y: scroll;
/*    background-image:url("../theme/images/xray2.png");
    background-repeat:no-repeat;
	background-position: left top;
	background-size:500px;*/
}

/* Fonts and typography */

it, em{
	font-style: italic;
	font-weight: inherit;
    font-family: ubuntu, "Helvetica Neue", Helvetica;
}

b, strong{
	font-weight: bold;
	font-style: inherit;
	font-family: ubuntu, "Helvetica Neue", Helvetica;
}

pre{
	font-family: 'Inconsolata', monospace, courier, "mplus-1m" !important;
	font-weight: 400 !important;
	font-size: 90%;
}

code{
	font-family: "mplus-1m", 'Inconsolata', monospace !important;
	font-weight: 400 !important;
	font-size: 95%;
}

.margin code{
	font-weight: 200 !important;
}

body{
/*    font-family: "adelle", ""HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
*/    
	font-family: ubuntu, "Helvetica Neue", Helvetica;
	font-weight: 300;
/* 
	font-family: "Helvetica Neue", minion, "museo-sans", 'Droid Serif', sans-serif !important;
 */
/*	color: #0f0f0f;*/
	height:100%;
	margin: 0px auto;
	padding: 20px;
	font-size: 1.3em;
	width: 800px;
	position: relative;
}

.wrapper{
	padding-bottom: 1em;
	padding-top: 0.5em;
}

.content{
	padding: 40px 0px;
	color: rgb(20, 20, 20);
}

.content h2 {
	color: brown;
}

.content h1 {
	color: brown;	
}

.content h3 {
	color: brown;
}

.footer{
	font-weight: 100 !important;
	width: 100%;
	text-align: left;
	padding-top: 1em;
	padding-bottom: 1em;
}

a, .postinfo a, a.postinfo{
	color: rgb(226, 53, 10);
	text-decoration: none;
}

a:hover{
	color: rgb(154, 35, 5);
	text-decoration: underline;
}

.margin{
	position: absolute;
	right: 0px;
	width: 19%;
	font-size: small;
	font-weight: 300;
	padding-top: 0.5em;
	font-weight: 300 !important;
	line-height: 1.3em !important;
}

/* Page layout */

.pbody{
	margin: 10px auto;
	text-align: left;
	font-style: normal;
	width: 75%;
	margin-right: 25%;
	font-weight: 300;
}

.pbody p{
	padding-bottom: .2em;
	line-height: 1.5em;
	font-size: 120%;
}

.pbody ul{
	margin-bottom: .7em;
	margin-right: 10px;
	padding: 0em 1em;
}

.pbody li{
	list-style-type: none;
}

.pbody p code {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid rgb(234, 234, 234);
	background-color: rgb(254, 254, 254);
	padding: 0px 1px;
	font-size: 80%;
}

.pbody p pre {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid rgb(234, 234, 234);
	background-color: rgb(254, 254, 254);
	padding: 0px 1px;
    font-family: 'Inconsolata', monospace, courier, "mplus-1m" !important;
	padding-left: 2%;
	font-size: 90%;
}

.pbody img{
	background-color: rgb(255, 255, 255);
	border: 1px solid #7C7C7C;
	padding: 1px;
	max-width: 98%;
	display: block;
	margin: 0px auto;
	margin-bottom: 1em;
	-webkit-box-shadow: 5px 5px 5px #7C7C7C;
	box-shadow: 5px 5px 5px #7C7C7C;
}

.pbody h1{
	font-size: 1.5em;
	margin-bottom: 0.7em;
	font-weight: 700 !important;
}

h1 .ptitle{
	font-size: 1.4em !important;
	font-weight: 900 !important;
}

.ptitle, .pbody h1, .latest_post h1{
	color: rgb(60, 60, 60);
/*	font-family: 'museo-sans-condensed';*/
}

.upost{
	font-weight: 700;
}

.postinfo{
	font-weight: 100;
	color: #333;
	margin-bottom: 0.9em;
	font-size: 0.9em;
}

.precontent{
	width: 100%;
	height: 80px;
	font-size: 1.2em;
	font-variant: small-caps;
	text-transform: lowercase;
}

.header h1 {
	text-align: left;
	font-size: 1.8em;
}

.header h1 a {
	text-shadow: 3px 3px 0px lightgrey;
	color: black;	
	font-family: "Helvetica Neue", Helvetica;
}


/* Header layour */

.siteinfos h1{
	font-weight: 300;
	float: left;
	font-size: 200%;
}

.siteinfos a{
	color: black;
	font-size: 130%
}

.siteinfos a:hover{
	text-decoration: none;
	color: rgb(4, 149, 181);
	text-decoration: underline;
}

/* Navbar layout */

.nav{
	float: right;
	text-align: right;
	font-weight: 500;
	padding: 0px;
	margin: 0px;
}

.nav ul{
	padding: 0em 0em;
}

.nav li{
	display: inline;
	margin-left: 0.5em;
}

.nav a{
	padding: 0px 2px;
}

.main-nav{
	border-bottom: 0px solid #ccc;
}

#page-navigation{
	margin-top: 3em;
	margin-bottom: 1.8em;
	padding-top: 10px;
	border-top: 1px dotted rgba(0, 0, 0, 0.2);
	font-weight: 200;
	font-size: 1em;
}

blockquote{
	margin-left: -2%;
	padding-left: 2%;
	border-left: 2px solid rgb(4, 149, 181);
	margin-bottom: 1.7em;
	color: rgb(90, 90, 90);
}

blockquote p{
	margin: 0px !important;
	padding: 0px !important;
}
/*
pre{
	margin-left: -2%;
	padding-left: 2%;
	border-left: 2px solid rgb(234, 234, 234);
	margin-bottom: 1.7em;
	font-size: 1.2em;
}*/

.latest_post p{
	padding-bottom: 0.5em !important;
}

.readmore{
	margin-bottom: 1.5em !important;
	height: 2em;
}

.Tags h2{
	font-weight: 700;
	font-size: 1.2em;
}

.Tags ul{
	margin-bottom: 1em;
}

div .tagcol {
	-moz-column-count: 2;
	-moz-column-gap: 30px;
	-webkit-column-count: 2;
	-webkit-column-gap: 30px;
	column-count: 2;
	column-gap: 30px;
	font-size: 0.9em;
	text-align: left;
}

.tw-align-center{
	margin-bottom: 1.7em !important;
	padding-bottom: 1.7em;
}

.thl{
	font-size: 2em;
	font-weight: 600;
	font-family: flavors;
}

a.extra.navlink.homelink:before{
	content: url(../images/me-d.gif);
	padding-right: 5px;
	display: inline-block;
}

a.extra.navlink.paplink:before{
	content: url(../images/pap-d.gif);
	padding-right: 5px;
	display: inline-block;
}

a.extra.navlink.reslink:before{
	content: url(../images/res-d.gif);
	padding-right: 5px;
	display: inline-block;
}

a.extra.navlink.codelink:before{
	content: url(../images/code-d.gif);
	padding-right: 5px;
	display: inline-block;
}

a.extra.navlink.bloglink:before{
	content: url(../images/blog-d.gif);
	padding-right: 5px;
	display: inline-block;
}

/* Some D3 stuff */

#d3 {
	margin-left:auto;
	margin-right:auto;
	width:90%;
}

.d3{
	margin-bottom: 1.5em;
}

.node {
  stroke: #fff;
  stroke-width: 1px;
}

.link {
  stroke: #ccc;
  stroke-opacity: 0.6;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.dot {
  fill: steelblue;
}

.codehilite pre {
	padding-left: 2%;
	border-left: 2px solid rgb(173, 174, 169);
	padding: .5em;
	margin: 1em 0;
	width: 100%;
	overflow: auto;
	font-family: "mplus-1m", 'Inconsolata', Consolas, Monaco, Courier New; !important
	font-size: 90%;
}

.pbody ul.leaders {
    max-width: 100%;
	font-size: 140%;
	margin-bottom: -1em;
    padding: 0;
    overflow-x: hidden;
    list-style: none}
.pbody ul.leaders li:before {
    float: left;
    width: 0;
	list-style: none;	
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "}
.pbody ul.leaders span:first-child {
	float: left;
	list-style: none;
    padding-right: 0.33em;
    background: rgb(249, 255, 171);
}
.pbody ul.leaders span + span {
    float: right;
 	list-style: none;
    padding-left: 0.33em;
    background: rgb(249, 255, 171);
}
.pbody ul.leaders span + span + span {
	float: left;
	list-style: none;
	padding-left: 1em;
	font-size:75%;
	font-style: italic;
}



.dsq-options {
	display: none;

}